.jumbotron {
  background-image: ''
}

.navbar {
  background-color: #3b3a3a;
  border: none;
}

.navbar-nav li a{
  color: #fff !important;
}


h1 a {
  text-decoration: none !important;
  color: #333;
}
