.jumbotron {
	padding-top: 36;
	padding-bottom: 70px;
	background-image: url(../assets/header_image.jpg);
  background-size: cover;
}

.jumbotron p {
	color: #fff;
}

.navbar {
  background: transparent;
  border: none;
  margin-top: -90px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #738C62;
  border-radius: 20px;
}

.carousel-caption a, .carousel-caption a:hover{
  color: #fff;
  text-decoration: none;
}

.item img{
	max-height: 375px;
  margin: 0 auto;
}

.img-circle {
	margin: 0 auto;
  display: block;
}

.feature-align {
  margin: 0 auto;
}
