.jumbotron {
  background: url("../images/background_home.jpg") no-repeat;
  background-size: cover;
}

#environment {
  background: url("../images/background_issues.jpg") no-repeat;
  background-size: cover;
}

#about {
  background: url("../images/background_about.jpg") no-repeat;
  background-size: cover;
}
