body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

h1 > a,
.nav-pills > li > a,
#environment h2,
#environment h3,
#about h2,
#about p,
.panel-title > a,
.panel-body {
  color: white;
  font-weight: 300;
}

h2 {
  margin: 50px 0;
  font-size: 3em;
  font-weight: 300;
}

h3 {
  font-size: 2em;
  font-weight: 300;
}

.btn {
  font-size: 1.2em;
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  border-radius: 4px;
  padding: 10px 25px;
  background-image: none;
  box-shadow: none;
  padding: 10px 25px;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  color: dodgerblue;
  border-color: dodgerblue;
}

.thumbnail {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

.container-fluid {
  padding: 0 50px;
}

.jumbotron {
  background: url("../images/background_home.jpg") no-repeat;
  background-size: cover;
}

#environment {
  background: url("../images/background_issues.jpg") no-repeat;
  background-size: cover;
}

#about {
  background: url("../images/background_about.jpg") no-repeat;
  background-size: cover;
}

h1 {
  padding: 17% 0 2%;
}
h1 > a:hover {
  color: white;
}

.nav-pills > li {
  margin-right: 20px;
  padding-bottom: 15%;
}
.nav-pills > li > a {
  font-size: 1.2em;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 25px;
  background-image: none;
  box-shadow: none;
  background: none;
}
.nav-pills > li > a:hover {
  cursor: pointer;
  background-color: white;
  color: white;
  border-color: white;
}
.nav-pills > li > a:hover {
  color: #0b0b0b;
}

.jumbotron {
  margin-bottom: 0;
}

#login {
  padding: 50px 0;
}
#login .col-sm-5 {
  padding-right: 75px;
}
#login .col-sm-5:nth-child(2) {
  border-left: 1px solid #0b0b0b;
  padding-left: 75px;
}
#login input {
  width: 75%;
}

#environment {
  padding: 75px 50px;
}
#environment img {
  width: 75%;
  margin: 0 auto;
}
#environment h3 {
  font-size: 1.3em;
  padding: 0;
  margin-top: 70px;
}
#environment .col-sm-2 {
  padding: 0;
}
#environment .row {
  padding-top: 100px;
  background: url("../images/lines_white.png") 50% 42% no-repeat;
  background-size: 55%;
}

#projects h3 {
  margin-bottom: 20px;
}
#projects p {
  margin-bottom: 20px;
}
#projects .row {
  margin-bottom: 50px;
}

#about .panel,
#about .panel-group,
#about .panel-default,
#about .panel-heading,
#about .panel-body,
#about-team .panel,
#about-team .panel-group,
#about-team .panel-default,
#about-team .panel-heading,
#about-team .panel-body {
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
}
#about .panel,
#about-team .panel {
  margin-bottom: 20px;
}
#about h3,
#about-team h3 {
  font-size: 1.5em;
}
#about .panel-body,
#about-team .panel-body {
  font-size: 1.2em;
  padding-left: 50px;
}
#about .join-now,
#about-team .join-now {
  font-size: 1.2em;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 25px;
  background-image: none;
  box-shadow: none;
  background: none;
  font-size: 17px;
  color: white;
}
#about .join-now:hover,
#about-team .join-now:hover {
  cursor: pointer;
  background-color: white;
  color: white;
  border-color: white;
}
#about .join-now:hover,
#about-team .join-now:hover {
  color: #0b0b0b;
}

#about-team {
  background: #382d5d;
}
