@import 'variables';

// ********** typography **********
body {
	font-family: $font-family--primary;
	font-weight: $font-weight--light;
}

h1 > a,
.nav-pills > li > a,
#environment h2,
#environment h3,
#about h2,
#about p,
.panel-title > a,
.panel-body {
	color: $white;
	font-weight: $font-weight--light;
}

h2 {
	margin: 25px 0;
	font-size: 3em;
	font-weight: $font-weight--light;
}

h3 {
	font-size: 2em;
	font-weight: $font-weight--light;
}

a:hover {
	text-decoration: none;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
	border: none;
	color: rgba(0, 0, 0, 0);
}

.btn {
	@include button(dodgerblue);
	padding: 10px 25px;
}

.thumbnail {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	box-shadow: none;
}

.container-fluid {
	padding: 25px;
}

// ********** background images **********
.jumbotron {
	background: url('../images/background_home.jpg') no-repeat;
	background-size: cover;
}

#environment {
	background: url('../images/background_issues.jpg') no-repeat;
	background-size: cover;
}

#about {
	background: url('../images/background_about.jpg') no-repeat;
	background-size: cover;
}

// *************** SECTIONS ***************
// ********** header **********
h1 {
	padding: 17% 0 2%;
	&> a:hover {
		color: $white;
	}
}

.container {
	padding-bottom: 15%;
}

.nav-pills {
	&> li,
	&> li + li {
		float: none;
		&> a {
			@include button($white);
			background: none;
			text-align: center;
			&:hover {
				color: $black;
			}
		}
	}
}

.jumbotron {
	margin-bottom: 0;
}

// ********** sign up/in **********
#login {
	// padding: 50px 0;
	// .col-sm-5 {
	// 	padding-right: 75px;
	// }
	// .col-sm-5:nth-child(2) {
	// 	border-left: 1px solid $black;
	// 	padding-left: 75px;
	// }
	// input {
	// 	width: 75%;
	// }
}


// ********** environmental issues **********
#environment {
	padding: 75px 50px;
	img {
		width: 75%;
		margin: 0 auto;
	}
	h3 {
		font-size: 1.3em;
		padding: 0;
		margin-top: 70px;
	}
	.col-sm-2 {
		padding: 0;
	}
	.row {
		padding-top: 100px;
		background: url('../images/lines_white.png') 50% 42% no-repeat;
		background-size: 55%;
	}
}

// ********** modals **********
// TODO need to make modals link to other modals

// ********** projects **********
#projects {
	h3 {
		margin-bottom: 20px;
	}
	p,
	 {
		margin-bottom: 20px;
	}
	.row {
		margin-bottom: 50px;
	}
}

// ********** about **********
#about,
#about-team {
	.panel,
	.panel-group,
	.panel-default,
	.panel-heading,
	.panel-body {
		background: none;
		border: none;
		cursor: pointer;
		box-shadow: none;
	}
	.panel {
		margin-bottom: 20px;
	}
	h3 {
		font-size: 1.5em;
	}
	.panel-body {
		font-size: 1.2em;
		padding-left: 50px;
	}
	.join-now {
		@include button($white);
		background: none;
		font-size: 17px;
		color: $white;
		&:hover {
			color: $black;
		}
		margin-left: 50px;
	}
}

#about-team {
	background: $darkslategray;
	.panel {
		margin-top: 20px;
	}
	h4 {
		font-size: 1.3em;
		margin-bottom: 15px;
	}
	p > a,
	h4 > a {
		color: lighten($darkslategray, 50);
		@extend %transition;
		&:hover {
			color: lighten($darkslategray, 80);
			@extend %transition;
		}
	}
}

/********** MEDIA QUERIES **********/
/* Extra small devices landscape (phones, less than 768px) */
@media all and (max-width: 767px) and (orientation: landscape) {
	h1 {
		padding-top: 5%;
	}
	.container {
		padding-bottom: 5%;
	}
	.nav-pills {
		padding: 0 15%;
	}
}

/* Small devices portrait (tablets, 768px and up) */
@media all and (min-width: 768px) /*and (orientation: portrait)*/ {
	h2 {
		margin: 50px 0;
	}
	.container-fluid {
		padding: 0 50px;
	}
	.nav-pills {
		padding: 0 15%;
	}
	#login {
	    padding: 50px 0;
	    .col-sm-6:first-child {
	        padding-right: 75px;
	        h2.users {
	            text-align: right;
	        }
	        button {
	            float: right;
	        }
	    }
	    .col-sm-6:nth-child(2) {
	        border-left: 1px solid $black;
	        padding-left: 75px;
	    }
	    input {
	        width: 75%;
	    }
	}

}

/* Small devices landscape(tablets, 768px and up) */
@media all and (min-width: 768px) and (orientation: landscape) {


}

/* Medium devices (desktops, 992px and up) */
@media all and (min-width: 992px) {

    .nav-pills {
        padding: 0;
        &> li,
        &> li + li {
            margin-right: 20px;
            display: inline-block;
        }
    }

}

/* Large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px) {



}