@import 'variables';

// ********** typography **********
body {
	font-family: $font-family--primary;
	font-weight: $font-weight--light;
}

a:hover {
	text-decoration: none;
}

h1 > a,
.nav-pills > li > a,
#environment h2,
#environment h3,
#about h2,
#about p,
.panel-title > a,
.panel-body {
	color: $white;
	font-weight: $font-weight--light;
}

h2 {
	margin: 50px 0;
	font-size: 3em;
	font-weight: $font-weight--light;
}

h3 {
	font-size: 2em;
	font-weight: $font-weight--light;
}

.btn {
	@include button(dodgerblue);
	padding: 10px 25px;
}

.thumbnail {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	box-shadow: none;
}

.container-fluid {
	padding: 0 50px;
}

// ********** background images **********
.jumbotron {
	background: url('../images/background_home.jpg') no-repeat;
	background-size: cover;
}

#environment {
	background: url('../images/background_issues.jpg') no-repeat;
	background-size: cover;
}

#about {
	background: url('../images/background_about.jpg') no-repeat;
	background-size: cover;
}

// *************** SECTIONS ***************
// ********** header **********
h1 {
	padding: 17% 0 2%;
	&> a:hover {
		color: $white;
	}
}

.nav-pills > li {
	margin-right: 20px;
	padding-bottom: 15%;
	&> a {
		@include button($white);
		background: none;
		&:hover {
			color: $black;
		}
	}
}

.jumbotron {
	margin-bottom: 0;
}

// ********** sign up/in **********
#login {
	padding: 50px 0;
	.col-sm-5 {
		padding-right: 75px;
	}
	.col-sm-5:nth-child(2) {
		border-left: 1px solid $black;
		padding-left: 75px;
	}
	input {
		width: 75%;
	}
}


// ********** environmental issues **********
#environment {
	padding: 75px 50px;
	img {
		width: 75%;
		margin: 0 auto;
	}
	h3 {
		font-size: 1.3em;
		padding: 0;
		margin-top: 70px;
	}
	.col-sm-2 {
		padding: 0;
	}
	.row {
		padding-top: 100px;
		background: url('../images/lines_white.png') 50% 42% no-repeat;
		background-size: 55%;
	}
}

// ********** modals **********
// need to make modals link to other modals

// ********** projects **********
#projects {
	h3 {
		margin-bottom: 20px;
	}
	p,
	 {
		margin-bottom: 20px;
	}
	.row {
		margin-bottom: 50px;
	}
}

// ********** about **********
#about,
#about-team {
	.panel,
	.panel-group,
	.panel-default,
	.panel-heading,
	.panel-body {
		background: none;
		border: none;
		cursor: pointer;
		box-shadow: none;
	}
	.panel {
		margin-bottom: 20px;
	}
	h3 {
		font-size: 1.5em;
	}
	.panel-body {
		font-size: 1.2em;
		padding-left: 50px;
	}
	.join-now {
		@include button($white);
		background: none;
		font-size: 17px;
		color: $white;
		&:hover {
			color: $black;
		}
	}
}

#about-team {
	background: #382d5d;
}