html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	.wrap {
		min-height: 100%;
		position: relative;
		margin-bottom: 100px;
	}
}

.top-buffer {
	padding-top: 20px;
}

.align-center {
	text-align: center;
}

.jumbotron {
	padding-top: 36;
	padding-bottom: 70px;
	background-image: url(../images/header_image.jpg);
	background-size: cover;
}

.jumbotron p {
	color: #fff;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.img-circle {
	display: block;
	margin: 0 auto;
}