/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1 a {
		font-size: 28px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 993px) {
	h1 a {
		font-size: 36px;
	}
	li {
		font-size: 16px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1201px) {
	h1 a {
		font-size: 48px;
	}
}