#invasive-icon .modal-header, #climate-change-icon .modal-header, #science-two-zero .modal-header, #habitat-loss-icon .modal-header, #biodiversity-icon .modal-header {
	h4 {
		color: white !important;
	}
}

#climate-change-icon .modal-header {
	background-color: #4790C7;
}

#invasive-icon .modal-header{
	background-color: #F68354;
}

#science-two-zero .modal-header {
	background-color: #ED6A67;
}

#habitat-loss-icon .modal-header {
	background-color: #8F71AB;
}

#biodiversity-icon .modal-header {
	background-color: #76AB63;
}
