@media (min-width: 768px) {
  
  .jumbotron .container h1 {
    margin-bottom: 50px;
  }
  
  .navbar {
    background: transparent;
    border: none;
    margin-top: -125px;
    min-height: 90px;
  }

  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #738C62;
    opacity: 0.75;
    border-radius: 35px;
  }

  .navbar-nav {
    margin-left: -40px;
    li {
      padding-right: 20px;
    }
    a {
      display: inline-block;  
    }
  }

  .navbar-default .navbar-nav>li>a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 35px;
    &:hover {
      background-color: #738C62;
      opacity: 0.75;
      border-radius: 35px;
    }
  }
  form.navbar-form {
    .search.input-group.pull-right {
      width: 30%;
    }
  }
}

@media (max-width: 767px)  {
  ul.nav.navbar-nav li a{
    color: #36404C !important;
  }
  .col-sm-4>h2 {
    text-align: center;
  }
  .navbar-header {
    background-color: rgba(28, 36, 49, 0.92);
    .navbar-toggle {
      background-color: rgba(28, 36, 49, 0.92);
    }
  }
}