h2, h3, h4, h5, h6 {
  color: #7899AB !important;
}

h2 > a {
 color: #7899AB !important;
}

.navbar-nav li a{
  color: #fff !important;
}

h1 a,
h1 a:hover, a:focus {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

h1 {
	margin-top: 0;
}