<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pioneer Valley Citizen Science Collaboratory</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--Stylesheets -->

      <link href="stylesheets/normalize.css" rel="stylesheet" type='text/css'>
      <link href="stylesheets/nivo-slider.css" rel="stylesheet" type='text/css'>
      <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"type='text/css'>
      <link href="stylesheets/hampshire.css" rel="stylesheet" type='text/css'>
      <link href="stylesheets/base.css" rel="stylesheet" type='text/css'>
      <link href="stylesheets/typography.css" rel="stylesheet" type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto|Open+Sans|Metrophobic' rel='stylesheet' type='text/css'>
      <link href="stylesheets/media-queries.css" rel="stylesheet" type='text/css'>
      <!-- <link href="stylesheets/all.css" rel="stylesheet" type='text/css'> -->

      <!--Javascript -->
      <script type="text/javascript" src="javascripts/vendor/jquery-2.1.0.min.js"></script>
      <script type="text/javascript" src="javascripts/hampshire.js"></script>
      <script type="text/javascript" src="javascripts/vendor/jquery.nivo.slider.pack.js"> </script>
      <script type="text/javascript" src="javascripts/vendor/jquery.nivo.slider.js"> </script>
      <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="javascripts/active.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="jumbotron">
      <div class="container">
        <h1><a href="index.html">Pioneer Valley Citizen Science Collaboratory</a></h1>
      </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="science-issues.html">Science Issues</a></li>
              <li><a href="projects.html">Projects</a></li>
              <li><a href="connected.html">Get Connected</a></li>
              <li><a href="about.html">About Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
