.jumbotron
  .container
    %h1
      %a{:href => "index.html"} Pioneer Valley Citizen Science Collaboratory
.container
  %nav.navbar.navbar-default{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{:href => "science-issues.html"} Science Issues
          %li
            %a{:href => "projects.html"} Projects
          %li
            %a{:href => "connected.html"} Get Connected
          %li
            %a{:href => "about.html"} About Us