.jumbotron
  .container
    %h1
      %a{:href => "/"} Pioneer Valley Citizen Science Collaboratory
.container
  %nav.navbar.navbar-default{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "/projects/"}Investigations
          %li
            %a{:href => "/about/"} About PVCS
          %li
            %a{:href => "###"}Sign Up/Log In
        %form.navbar-form
          .search.input-group.pull-right
            %input{:type => 'text', :class => 'form-control', :placeholder => 'Search PVCS'}
            .input-group-btn
              %button.btn.btn-default
                %span.glyphicon.glyphicon-search