#climate-change-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "climate-change-icon", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
				%h4#climate-change-title.modal-title Climate Change
			.modal-body.row
				.col-md-4.hidden-sm.hidden-xs
					.thumbnail
						%img{:alt => "Climate Change Icon", :src => "/images/climatechange-icon.png"}/
				.col-md-8
					%p Climate change is a global problem, but it is already starting to have tangible and direct effects on the Pioneer Valley. Among the projected effects of climate change are more frequent severe weather events, three of which occurred in 2011 alone: a series of tornados in the Springfield area on June 1<sup>st</sup>, flooding from Tropical Storm Irene on August 28-29<sup>th</sup>, and an early snowstorm on October 30<sup>th</sup>. A record-breaking heat wave also swept across the entire United States in July 2012.
					%p In addition to an average temperature increase of 3-5 degrees F by 2050 at current greenhouse gas emission levels, it is expected that by the end of the century there will be anywhere from 30 to 60 days of extreme heat (over 90 degrees) in comparison with the 5 to 20 at current levels. Precipitation levels will also fluctuate much more extremely&mdash;while there are expected to be instances of extreme flooding once every 2-3 years, and a general increase in precipitation during winter months, Massachusetts will also have a 75&#37; increase in drought events which will last from 1-3 months.
					%p All of these changes raise significant risks to other environmental factors. Temperature increases alone may force wildlife to migrate to the cooler places that they are better suited to survive, but increased flooding events may destroy habitats entirely. Flooding is particularly dangerous due to sewage disposal infrastructure's demonstrated vulnerabilities; during Tropical Storm Irene, raw sewage was discharged to the Connecticut River for several days when flood waters knocked the Greenfield wastewater facility offline.

#invasive-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "invasive-icon", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
				%h4#invasive-title.modal-title Invasive Species
			.modal-body.row
				.col-md-4.hidden-sm.hidden-xs
					.thumbnail
						%img{:alt => "Invasive Species Icon", :src => "/images/invasivespecies-icon.png"}/
				.col-md-8
					%p Invasive species represent a significant threat to local wildlife, displacing and leading to habitat loss for native flora and fauna. In extreme cases, they can even change characteristics of the ecosystem itself. Native species are usually introduced unintentionally by human activity, managing to survive in transit from their original native environment. After they establish themselves in the new environment, there is often a lag period before they begin to reproduce and spread more rapidly.
					%p There are a wide variety of invasive species which have had an impact on the Pioneer Valley.  One of the most notorious among them, the gypsy moth, was introduced to Massachusetts in the 1860s, and since then has spread through the northeastern United States.  Gypsy moth caterpillars defoliate oaks and other hardwood trees, causing extensive damage or even killing their host trees. 

#science-two-zero.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "science-two-zero", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
				%h4#science-two-zero-title.modal-title Science 2.0
			.modal-body.row
				.col-md-4.hidden-sm.hidden-xs
					.thumbnail
						%img{:alt => "Invasive Species Icon", :src => "/images/science-2-0-icon.png"}/
				.col-md-8
					%h3 What is Science 2.0?
					%p Science 2.0 represents emerging changes to the ways that scientific research is conducted. Advances in computing technology in recent decades have enabled scientists to collaborate across long distances, collect and share data, and provide access to their research and findings on an unprecedented scale. There are a wide variety of practices and trends which fall under the general label of Science 2.0, some well-entrenched by now, others only beginning to be adopted by the scientific community.
					%h3 Data
					%p In the past, data collection was often a slow process that needed to be entered by hand. In some sciences, though, technology has allowed some aspects of data collection, such as temperature readings, geospatial coordinates, and more, to become automated. Some scientists, when their research spans a large area, also crowdsource their data by asking for contributions from the wider population. As a result, scientists today have access to huge volumes of data&mdash;usually far more than is remotely feasible for even a dedicated team of researchers to completely analyze on their own.
					%p Data sets used to be considered the intellectual property of the scientists who collected them. Sometimes the raw data would be published alongside the relevant research, but more often than not it would be kept private, only accessible to a select few. Moreover, when that data was needed again or requested by someone who was interested in seeing it, the passage of time sometimes meant that the software originally used to collect and archive the data was obsolete and incompatible with modern computers&mdash;meaning that short of the help of a data recovery specialist, that data would remain inaccessible forever.
					%p
						To counteract the immense amounts of data being collected and the past tendency for data to stagnate unused on someone's personal computer, in recent years a movement to share data with the broader scientific community has emerged. Scientists are encouraged to contribute their data to data repositories such as
						= succeed "," do
							%a{:href => "http://datadryad.org/", :target => "_blank"} Dryad
						allowing other scientists and anyone else who has an interest in it to see it, analyze it on their own, or incorporate it into their own research.
					%h3 Publication
					%blockquote The Internet, after all, was invented so that scientists could communicate their research results with each other. But while you can now get immediate, free access to 675 million videos of cats (I checked this number today), the scholarly literature &mdash; one of greatest public works projects of all time &mdash; remains locked behind expensive pay walls.
					%cite -Michael Eisen, biologist
					%br
					%br
					%p Publication of one's research in reputable scientific journals such as Nature or Cell is crucial to the careers of most scientists. When a paper is submitted to a journal, it goes through a rigorous peer review process, after which, if it is up to standards, it is published and posted online. Otherwise, the paper's author(s) must either submit it to a different journal or revise it and resubmit it.
					%p The problem is that not only are there thousands upon thousands of scientific journals out there, but they also often charge exorbitant subscription fees. Scientists conducting research are usually affiliated with a university, which means that they and their students are limited in their access to current scientific findings by which journals their institution has decided are worth paying for—and when people are conducting research based on specific interests in rapidly changing fields, the possibility of missing out on groundbreaking research is high. This is to say nothing of the often underestimated non-academic audience for scientific research, which does not even have access to university subscriptions.
					%p
						The open access movement seeks to change that. Rather than keeping them behind paywalls, open access journals such as the
						%a{:href => "http://www.plos.org/", :target => "_blank"} Public Library of Science
						allow free access to the scientific papers that are submitted to it, which also undergo a peer review process similar to the ones used in more traditional publications. In addition, while standard journals hold copyright over the works that they publish, open access journals often allow the authors a greater degree of control over their work and how it is used through
						= succeed "." do
							%a{:href => "https://creativecommons.org/", :target => "_blank"} Creative Commons licenses
						These licenses, in contrast to normal copyright, give authors the ability to decide whether or not to allow others to share, adapt, or build upon their work. In addition, unlike ordinary journals, being published in open access journals is not always limited to academia&mdash;as long as the research is well-executed, the methods make sense, and the results match the data, anyone conducting research can be published. In the past, even an elementary school class has had research published in PloS ONE, a branch of PLoS.

#habitat-loss-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "habitat-loss-icon", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
				%h4#habitat-loss-title.modal-title Habitat Loss
			.modal-body.row
				.col-md-4.hidden-sm.hidden-xs
					.thumbnail
						%img{:alt => "Habitat Loss Icon", :src => "/images/habitatloss-icon.png"}/
				.col-md-8
					%p Habitat loss is a major threat to biodiversity both in the Pioneer Valley and the wider world. Human activity is usually the cause of habitat loss, either directly through agriculture, land and water development, or indirectly through climate change (link to the climate change page) or introduction of invasive species (link to the invasive species page).
					%p
						The Connecticut River flows through the Pioneer Valley, and is home to a variety of aquatic species. However, human infrastructure in the form of dams and culverts has changed the natural flow regime and chemistry of the river, which has concerning implications for its ecology. There are 1,422 dams in MA and CT alone, which averages 1 dam per 6.6 km of river, in addition to 2,885 culverts in the Valley. The alterations to the river's flow regime restrict access to quality habitat for one or more life stages of various species, such as the ability for
						%span{:title => "fish which spend most of their life in seawater, but lay their eggs in freshwater"} anadromous fish
						to reach preferred freshwater spawning habitats from the sea, as well as blocking access to thermal refuges for brook trout populations. In addition, pollution and wastewater runoff from flooding and stormwaters in urban areas also contribute to making the Connecticut River unsuitable for habitation.
					%p
						Urban sprawl represents another threat to habitat loss, as natural environments are replaced with man-made buildings and roads. Neighborhood Nestwatch seeks to learn more about how habitat loss in the form of increasing urban sprawl impacts bird nesting habits. To learn more, click
						%a{:href => "http://pvcitizenscience.org/projects/salamander-watch/"} here
						to get involved in Neighborhood Nestwatch.
					%p
						To learn more about how habitat loss affects salamanders, click
						%a{:href => "http://pvcitizenscience.org/projects/salamander-watch/"} here
						to get involved in Salamander Watch.

#biodiversity-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "biodiversity-icon", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
				%h4#biodiversity-title.modal-title Biodiversity
			.modal-body.row
				.col-md-4.hidden-sm.hidden-xs
					.thumbnail
						%img{:alt => "Biodiversity Icon", :src => "/images/biodiversity-icon.png"}/
				.col-md-8
					%p Biodiversity is the issue that ties the rest of the environmental issues listed here together. It is, broadly defined, the huge and almost incomprehensible variety of different species that inhabit the world. Biodiversity is being threatened, though, by human activity&mdash;from habitat loss, from climate change, and from introduction of invasive species. And when we lose genetic diversity in the world, we're not only losing species that don't affect us&mdash;we're losing valuable natural resources that sustain us, as well, including food sources, origins for medical drugs, and bases for jobs and livelihoods.
					%p
						Click
						%a{:href => "http://www.mass.gov/eea/agencies/dfg/dfw/natural-heritage/species-information-and-conservation/mesa-list/list-of-rare-species-in-massachusetts.html", :target => "_blank"} here
						for a list of endangered, threatened, and other special conservation interest species in Massachusetts.