#climate-change-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "climate-change-icon", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
				%h4#climate-change-title.modal-title Climate Change
			.modal-body.row
				.col-md-4
					.thumbnail
						%img{:alt => "Climate Change Icon", :src => "/images/climatechange-icon.png"}/
				.col-md-8
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt optio ratione dolore aspernatur numquam obcaecati amet eos, placeat, doloremque aut tempore voluptas odit nihil inventore quasi quo, maxime cum fugit.

#invasive-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "invasive-icon", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
				%h4#invasive-title.modal-title Climate Change
			.modal-body.row
				.col-md-4
					.thumbnail
						%img{:alt => "Invasive Species Icon", :src => "/images/invasivespecies-icon.png"}/
				.col-md-8
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt optio ratione dolore aspernatur numquam obcaecati amet eos, placeat, doloremque aut tempore voluptas odit nihil inventore quasi quo, maxime cum fugit.

#science-two-zero.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "science-two-zero", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
				%h4#science-two-zero-title.modal-title Science 2.0
			.modal-body.row
				.col-md-4
					.thumbnail
						%img{:alt => "Invasive Species Icon", :src => "/images/science-2-0-icon.png"}/
				.col-md-8
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt optio ratione dolore aspernatur numquam obcaecati amet eos, placeat, doloremque aut tempore voluptas odit nihil inventore quasi quo, maxime cum fugit.

#habitat-loss-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "habitat-loss-icon", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
				%h4#habitat-loss-title.modal-title Habitat Loss
			.modal-body.row
				.col-md-4
					.thumbnail
						%img{:alt => "Habitat Loss Icon", :src => "/images/habitatloss-icon.png"}/
				.col-md-8
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt optio ratione dolore aspernatur numquam obcaecati amet eos, placeat, doloremque aut tempore voluptas odit nihil inventore quasi quo, maxime cum fugit.

#biodiversity-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "biodiversity-icon", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
				%h4#biodiversity-title.modal-title Biodiversity
			.modal-body.row
				.col-md-4
					.thumbnail
						%img{:alt => "Biodiversity Icon", :src => "/images/biodiversity-icon.png"}/
				.col-md-8
					%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt optio ratione dolore aspernatur numquam obcaecati amet eos, placeat, doloremque aut tempore voluptas odit nihil inventore quasi quo, maxime cum fugit.