.container
	.row
		.page-header
			%h2 About PVCS
		.col-md-12
			%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis rerum nobis vel nulla magnam, amet eligendi voluptatum velit, saepe est odit. Perferendis ad iure tempora odit dolore perspiciatis facere commodi!
	%section.row#hampshire-team
		.page-header
			%h2 Who we are
		
		.row
			.col-md-12
				%h3 Hampshire College Team
		.row
			.col-md-2
				.thumbnail
					%img{:src => "#", :alt => "Profile shot of Tim Zimmerman", :class => 'img-circle img-responsive'}
			.col-md-10
				%h4 Tim Zimmerman
				%p I am a Visiting Assistant Professor of Cognition and Education in the School of Cognitive Sciences at Hampshire College [www.hampshire.edu].  As a learning sciences researcher, I focus on the learning of ocean and environmental science concepts and the design of learning tools that enhance such learning.  I study science learning across formal (classroom) and informal [informalscience.org] (outdoor, aquarium, museums, field trips, etc.) contexts, the use of science knowledge for environmental decision-making.  My work often involves the design and use of Internet-connected, wired and mobile devices as learning tools.

		.row
			.col-md-2
				.thumbnail
					%img{:src => "#", :alt => "Profile shot of Jonathan Gardner", :class => 'img-circle img-responsive'}
			.col-md-10
				%h4 Jonathan Gardner
				%p I am a student at Hampshire College studying the ways in which digital technologies have changed and will continue to change how people learn and think about learning.  My specific interests include leveraging games and game design for learning purposes, the Internet’s potential for promoting scientific literacy, and the effects of a digital media saturated world on cognition.

		.row
			.col-md-2
				.thumbnail
					%img{:src => "#", :alt => "Profile shot of Chelsea LaValley", :class => 'img-circle img-responsive'}
			.col-md-10
				%h4 Chelsea LaValley
				%p I am a Hampshire College student studying education, psychology and emotion studies. I specifically am interested in social-emotional learning in education. My concentration involves finding a correlation between SEL and academic achievement; to promote mental health services in the United States public education system. I am originally from Taos, New Mexico and will graduate from Hampshire in the spring of 2015! 

		.row
			.col-md-12
				%h3 University of Toronto Team
		.row
			.col-md-2
				.thumbnail
					%img{:src => "/images/people/jim-slotta-profile.jpg", :alt => "Profile shot of Jim Slotta", :class => 'img-circle img-responsive'}
			.col-md-10
				%h4 Jim Slotta
				%p Jim Slotta is an associate professor of education in the Ontario Institute for Studies in Education (OISE) at The University of Toronto, where he holds the Canada Research Chair in Education and Technology.  In 2006, he established the ENCORE lab, a team of talented students, designers and developers who investigate collaborative inquiry learning in formal (K-12) and informal (home, field and museum) settings. In collaboration with researchers from Oslo, Chicago and Berkeley, Slotta and his team have developed the Scalable Architecture for Interactive Learning (SAIL), as well as a framework for smart classroom research called SAIL Smart Space.  Recent funded projects have examined the use of embedded phenomena in elementary classrooms, distributed and ubiquitous learning in high school physics, and an immersive rainforest simulation for high school biology.  Together, these projects have advanced a theoretical model known as Knowledge Community and Inquiry (KCI).  Professor Slotta and his team have published their work widely, as seen in the publications section of this site.  Taken together, this work examines how K-12 students can become a knowledge community, supported by technology, that enables inclusive participation and promotes the growth of ideas.

		.row
			.col-md-2
				.thumbnail
					%img{:src => "/images/people/alisa-acosta-profile.jpg", :alt => "Profile shot of Alisa Acosta", :class => 'img-circle img-responsive'}
			.col-md-10
				%h4 Alisa Acosta
				%p Alisa is a currently PhD student with the Encore Lab, bringing her experiences as an environmental scientist/field researcher, secondary science educator, and graphics designer to this project.

		.row
			.col-md-2
				.thumbnail
					%img{:src => "#", :alt => "Profile shot of Hedieh Najafi", :class => 'img-circle img-responsive'}
			.col-md-10
				%h4 Hedieh Najafi
				%p s a researcher at the Encore lab and contributes to conceptualizing an integrated research component of the PVCS Collaboratory.
		.row
			.col-md-2
				.thumbnail
					%img{:src => "/images/people/thomas-berry-profile.jpg", :alt => "Profile shot of Thomas Berry", :class => 'img-circle img-responsive'}
			.col-md-10
				%h4 Thomas Berry
				%p Thomas Berry is a web developer currently working at Encore Lab at the University of Toronto. He works on a variety of projects for researchers using many different tools, libraries and frameworks (node, backbone, jquery, underscore, ruby-on-rails, css3/sass, etc). I primarily write code, but increasingly he is gaining experience with project management and product design.
				%p Thomas holds a bachelors of arts in History and Geography from Brock University and a Master of Information Science from the University of Toronto. in 2013 graduated from Bitmaker Labs web development bootcamp and HackerYou's response web development course in 2013
		
		.row
			.col-md-12
				%h3 University of Colorado, Denver Team
		.row
			.col-md-2
				.thumbnail
					%img{:src => "#", :alt => "Profile shot of Tam Vu", :class => 'img-circle img-responsive'}
			.col-md-10
				%h4 Tam Vu
				%p Dr. Tam Vu is an Assistant Professor of Computer Science at the University of Colorado, Denver where his teaching and research focus on the design and use of networked mobile technology.
		.row
			.col-md-12
				%h3 Our Partners
			.col-md-12
				%ul.list-unstyled
					%h4
						%li
							%a{:href => ""} Hitchcock Center for the Environment
					%li
						%h4
							%a{:href => ""}Dr. Susannah Lerman,
							%span UMass Amherst/Neighbourhood Nestwatch Project





